.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  /* hide the content overflowing horizontaly */
  overflow-x: hidden;

  position: relative;
    min-height: 150vh;
    height: 100%;
}
