.container {
  max-width: 1600px;
  position: relative;
}

.header-container {
  max-width: 1600px;
  margin: 16px 32px;
  margin-bottom: 0px;
  padding: 16px;
  padding-bottom: 0px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.container h2 {
  max-width: 1600px;  
  margin-bottom: 0px;
  padding: 16px;
  padding-bottom: 0px;
}

.fade {
  content: '';
  width: 60px;
  position: absolute;
  right: 0;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
  will-change: opacity;
  pointer-events: none;
  height: 400px;
}

.movies-list {
  max-width: 1600px;
  margin: 16px 32px;
  margin-top: 0px; 
  margin-right: 0px;

  display: flex;
  flex-direction: row;
  grid-auto-flow: column;
  grid-auto-columns: 21%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;  
}

.movies-list::-webkit-scrollbar {
  width: 1em;
  height: 10px;
}

.movies-list::-webkit-scrollbar-track {
  box-shadow: insert 0 0 6px rgba(0, 0, 0, 0,3);
}

.movies-list::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 10px;
}


.movies-list div {
  background-color: rgb(255, 255, 255);
  padding: 16px;
  border-radius: 4px;

}

.movies-list strong {
  margin-bottom: 5px;
  text-align: center;
  font-size: 18px;
}

.movies-list img {
  width: 200px;
  max-height: 450px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

/* .movies-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-size: 24px;
  background-color: #116FEB;
  text-decoration: none;
  color: #FFF;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
} */

@media (max-width: 1600px) {
  .container {
    position: static;
  }
}