.search {
  width: 100%;
  margin-top: 30px;
}

.search form {
  position: relative;
}

.search form input {
  width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 1.1em;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(13, 28, 59);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  outline: none;
}

.search form button {
  height: 46px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  position: absolute;
  right: -1px;
  cursor: pointer;
  background-color: rgba(13, 28, 59);
}

.search form button a {
  text-decoration: none;
  color: #1ed5a9;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 15px;

}