.selectors li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  border: 1px solid darkgrey;
  border-radius: 1em;
}

.button {
  padding: 8px 32px;
  border-radius: 1em;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
}

.button--selected {
  padding: 8px 32px;
  border-radius: 1em;
  background: rgba(13, 28, 59);
  color: #1ed5a9;
  font-family: 'Ubuntu', sans-serif;
}