@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.upcoming-title {
  align-self: center;
}

.upcoming-list {
  width: 720px;
  margin: 5rem auto;
  height: 450px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 900px;
}

.upcoming-list h2 {
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  color: rgba(13, 28, 59);
  align-self: center;
}


.slide img {
  width: 15rem;
  margin: 0 auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.slide {
  transform: scale(0.8);
  transition: transform 300ms;
  opacity: 0.5;
}

.slide .description {
  font-family: 'Ubuntu', sans-serif;
  color: rgba(13, 28, 59);
  width: 175%;
  position: relative;
  left: -35%;
  margin: 10px 0px;
  text-align: justify;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
}

.nonactive strong {
  display: none;
}

.nonactive .description {
  display: none;
}

.activeSlide strong {
  margin: 72px;
  font-size: 18px;
  margin-top: 25px;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(13, 28, 59);
  
}

.arrow {
  background-color: white;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
  scale: (2);
}

.arrow svg:hover {
  color: red;
  
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

@media (max-width: 600px) {
  .upcoming-list {
    width: 90%;
  }
  .slide img {
    width: 10rem;
  }
}